/* || Home content values */
#homeContainer {
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #e4e4e4;
}

#homeContainer h1 {
  text-align: center;
  color: #eb6700;
}

.homeSections a {
  color: #a32e00;
  text-decoration: underline;
}

.homeSections a:hover {
  color: #eb6700;
}

.homeSections a:active {
  color: #1e1e1e;
}

#homeDisposition {
  margin: 0 5%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#homeDisposition section {
  margin: 0 5%;
}

#homeContainer h2 {
  margin: 0;
  font-size: 1.5rem;
}

/* || Animation content for the spoon */
#spoon,
#spoonWrapper {
  position: absolute;
  bottom: 12rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

#spoon {
  animation: stirX 2s infinite ease-in-out;
}

#spoonWrapper {
  animation: stirY 2s infinite ease-in-out;
  width: 6rem;
}

/* Positionning for for the pot */
#pot {
  position: absolute;
  bottom: 9rem;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
}

/* When the spoon moves horizontally and its container moves vertically a curve trajectory is drawn instead of a regular A to B motion*/
@keyframes stirX {
  25% {
    transform: translateX(6.5rem);
  }

  50% {
    transform: translateX(-2rem);
  }
}

@keyframes stirY {
  33% {
    transform: translateY(1.3rem);
  }

  66% {
    transform: translateX(0.5rem);
  }
}
