/* || Admin dashboard pages*/

/* lists of links*/
#dashboardPanel li {
  margin: 2rem 0;
}

#dashboardPanel li a {
  background-color: #1a1a1a;
  width: 16rem;
  padding: 2rem 1rem 2rem 1rem;
  border-radius: 20px 50px 50px 20px;
  display: flex;
  align-items: center;
  border: 2px solid #eb6700;
}

#dashboardPanel li a:active {
  background-color: #ffffff;
}

#dashboardPanel li a:active span {
  color: #eb6700;
}

#dashboardPanel li a:active .dashboardOptionDecorator {
  background-color: #1a1a1a;
}

/* Buttons made for deleting content*/
#dashboardPanel .deleteButton div a {
  background-color: #920000;
  border: 2px solid #920000;
}

#dashboardPanel .deleteButton div a:active {
  background-color: #1e1e1e;
}

#dashboardPanel .deleteButton div a:active span {
  color: #d60000;
}

.deleteButton div a {
  background-color: #920000;
  border: 2px solid #920000;
}

.deleteButton div a:active {
  background-color: #1e1e1e;
}

.deleteButton div a:active span {
  color: #d60000;
}

.deleteButton button {
  background-color: #920000;
  border: 2px solid #920000;
}

.deleteButton button:active {
  background-color: #1e1e1e;
  color: #d60000;
}

/* Dashboard inex links */
.dashboardOptionText {
  width: 60%;
  margin-right: 0.5rem;
  font-weight: bold;
  color: #ffffff;
}

.dashboardOptionChevron {
  margin-right: 2rem;
  font-size: 2rem;
  color: #ffffff;
}

.dashboardOptionDecorator {
  float: right;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

/* Containers */
#dashboardContainer {
  height: 100%;
  background-color: #ffffff;
  width: 100%;
}

#dashboardContentContainer {
  margin-bottom: 12rem;
  margin-left: 5%;
}

/* Navbar */
#dashboardContainer nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a32e00;
  z-index: 2;
}

/* For mobile */
#small {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

#small li {
  margin: 0 2%;
  width: 4rem;
}

#small li a {
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  display: block;
  font-size: 1.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
}

#small li a:hover {
  color: #eb6700;
}

#small li a:active {
  color: #eb6700;
  border: 1px solid #eb6700;
  background-color: #ffffff;
}

#small button {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
}

/* For tablets and desktops */
#tablet {
  display: none;
}

/* Brand logo and redirects to home */
#homeButton {
  background-image: url("../../../assets/logo.png");
  background-size: cover;
  width: 4rem;
  height: 4rem;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  #dashboardPanel li {
    margin: 4rem 0;
  }

  .dashboardOptionText {
    margin-right: 2rem;
  }

  #dashboardPanel li a {
    width: 20rem;
  }

  #dashboardContainer nav {
    width: 6rem;
    height: 100%;
  }

  #dashboardContainer nav button {
    margin-top: 1.6rem;
  }

  #dashboardContentContainer {
    margin-left: 10rem;
  }

  #small {
    display: none;
  }

  #tablet {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  #tablet button {
    padding: 1.3rem;
  }

  #tablet #homeButton {
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

#tablet li a {
  margin-left: 2rem;
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #dashboardPanel li {
    margin: 5rem 0;
  }

  .dashboardOptionText {
    margin-right: 1rem;
  }

  #dashboardPanel li a {
    width: 18rem;
    margin-right: 2rem;
  }

  #dashboardPanel {
    display: grid;
    grid-template-columns: 22rem 22rem;
    width: 80%;
    margin: 0 20%;
  }

  #dashboardContainer {
    overflow: hidden;
  }

  #dashboardContainer nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
  }

  #dashboardContainer nav button {
    margin-top: -0.4rem;
  }

  #dashboardContentContainer {
    margin-top: 9rem;
    margin-bottom: 0;
    margin-left: 0%;
  }

  #tablet {
    flex-direction: row;
  }

  #tablet button {
    padding: 1.5rem 4.5rem;
    width: 90%;
  }

  #tablet #homeButton {
    margin-bottom: 2rem;
  }
}
