/* || Dashboard item containers */
/* container */
.itemContainer,
.primedContainer {
  border-radius: 16px;
  margin: 1rem;
  padding: 0.5rem;
}

.itemContainer {
  border: 2px solid #e4e4e4;
}

/* container when selected */
.primedContainer {
  border: 2px solid #eb6700;
  background-color: #1a1a1a;
  transition: 0.2s;
  color: #ffffff;
}

.primedContainer h2,
.primedContainer label,
.primedContainer li {
  transition: 0.2s;
  color: #ffffff;
}

.primedContainer form {
  border: 1px solid #1a1a1a;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px black;
  transition: 0.2s;
}

.primedContainer button {
  background-color: #eb6700;
  transition: 0.2s;
}

/* Spacing for the first and like section */
.itemContainer > section:first-of-type,
.primedContainer > section:first-of-type {
  padding-bottom: 1rem;
  text-align: center;
}

.itemContainer > section:first-of-type button,
.primedContainer > section:first-of-type button {
  margin: 1rem;
}
