/* || Dashboard page containers */
/* container */
#manipulationContainer {
  margin-left: -5rem;
}

/* titles */
#manipulationContainer h1 {
  font-size: 2.8em;
  line-height: 1.1;
  text-align: center;
  color: #a32e00;
  text-decoration: underline;
}

#manipulationContainer h2 {
  text-decoration: underline;
}

/* buttons and filter inputs */
#manipulationButtonsContainer button {
  margin: 0.5rem 1rem;
  width: 12rem;
}

#searchBar,
#manipulationButtonsContainer {
  text-align: center;
  margin: 1rem;
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #manipulationItemContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    margin: auto;
  }
}
