/* || Message snackbar */

/* Message container */
.messageContainer div {
  color: #ffffff;
  text-align: center;
  z-index: 1;
  position: fixed;
  width: 40%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -3rem;
  display: flex;
  border-radius: 20px;
  padding: 0.5rem;
  display: block;
  animation: slideFromTop 1.5s;
  animation-iteration-count: 1;
  opacity: 0%;
}

/* Causes the message to slide down and become visible before sliding back and vanishing*/
@keyframes slideFromTop {
  50% {
    transform: translateY(3.5rem);
    opacity: 100%;
  }
}
/* Causes the message to slide up and become visible before sliding back and vanishing*/
@keyframes slideFromBottom {
  50% {
    transform: translateY(-6.5rem);
    opacity: 100%;
  }
}

/* If the message indicates a task accomplished */
.isSuccess div {
  background-color: #eb6700;
  -webkit-box-shadow: 0 0 1rem #eb6700;
  box-shadow: 0 0 1rem #eb6700;
}

/* If the message indicates a failed task */
.isError div {
  background-color: #920000;
  -webkit-box-shadow: 0 0 1rem #920000;
  box-shadow: 0 0 1rem #920000;
}

/* Makes the message container vanish when using tablets and desktops*/
.bottom {
  display: none;
}

/* For tablets */
@media only screen and (min-width: 768px) {
  .messageContainer div {
    margin: 0 35%;
  }
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  .top {
    display: none;
  }

  .bottom {
    display: block;
  }

  .messageContainer {
    padding-left: 0rem;
  }
  .messageContainer div {
    color: #ffffff;
    text-align: center;
    z-index: 1;
    position: fixed;
    width: 40%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: -5.5rem;
    top: 105%;
    display: flex;
    border-radius: 20px;
    padding: 0.5rem;
    display: block;
    opacity: 100%;
    animation: slideFromBottom 1.5s;
    animation-iteration-count: 1;
  }
}
