/* || For admin dashboard items */
/* Titles */
#itemContainer h1 {
  font-size: 1.5rem;
  color: #a32e00;
  text-align: center;
}

#itemListContainer h2 {
  font-size: 1.5rem;
}

/* fields */
.itemDataField {
  font-weight: 800;
  text-decoration: underline;
  color: #a32e00;
}

/* container */
.userItemContainer {
  border: 1px solid #e4e4e4;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 2px #e4e4e4;
  width: 80%;
  margin: 1rem auto;
}

/* buttons */
.itemButtonContainer {
  text-align: center;
}
.itemButtonContainer button {
  margin: 0.5rem 1rem;
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #itemListContainer {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: auto;
  }
}
