/* || Base styling for the dashboard layout */
/* Container */
#dashboardContainer {
  height: 100%;
  background-color: #ffffff;
  width: 100%;
}

#dashboardContainer nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #a32e00;
  z-index: 1;
}

#dashboardContentContainer {
  margin-bottom: 12rem;
  margin-left: 5%;
}

/* For mobile content */
#small {
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  line-height: 4rem;
}

#small li {
  margin: 0 2%;
  width: 4rem;
}

#small button,
#small li {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  text-align: center;
}

#small li a {
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
  display: block;
  font-size: 1.5rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
}

#small li a:hover {
  color: #eb6700;
}

#small li a:active {
  color: #eb6700;
  border: 1px solid #eb6700;
  background-color: #ffffff;
}

/* For tablet and desktop content display is changed upon screen size change */
#tablet {
  display: none;
}

#tablet li a:hover {
  color: #eb6700;
}

#tablet li a:active {
  color: #eb6700;
  border: 1px solid #eb6700;
  background-color: #ffffff;
}

/* Website logo that sends the user to the home page */
.homeButton {
  background-image: url("../../../assets/logo.png");
  background-size: cover;
  width: 3.1rem;
  height: 3.1rem;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  #dashboardContainer nav {
    width: 6rem;
    height: 100%;
  }

  #dashboardContainer nav button {
    margin-top: 1.6rem;
  }

  #dashboardContentContainer {
    margin-left: 10rem;
  }

  #small {
    display: none;
  }

  #tablet {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  #tablet button li {
    padding: 3rem 1.2rem;
    width: 90%;
  }

  #tablet li a {
    border-radius: 15%;
    border: 1px solid transparent;
    background-color: #1a1a1a;
    color: #ffffff;
    cursor: pointer;
    transition: border-color 0.25s;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
    width: 8rem;
    margin-left: 1.5rem;
  }

  #tablet .homeButton {
    padding: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin-right: 2rem;
  }
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #dashboardContainer {
    overflow: hidden;
  }

  #dashboardContainer nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
  }

  #dashboardContainer nav button {
    margin-top: -0.4rem;
  }

  #dashboardContentContainer {
    margin: 9rem 2% 0 2%;
  }

  #tablet {
    flex-direction: row;
  }

  #tablet button li {
    padding: 1.5rem 4.5rem;
    width: 90%;
  }

  #tablet .homeButton {
    margin-bottom: 2rem;
  }
}
