#placeRegisterContainer {
  width: 80%;
  margin: 1rem auto;
}

.secondaryButton {
  text-align: center;
}

.secondaryButton button {
  background-color: #a32e00;
  margin: 0.5rem 0;
}

#mapDesktopContainer {
  display: none;
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #phoneMapContainer {
    display: none;
  }

  #mapDesktopContainer {
    display: block;
  }

  #placeRegisterContainer {
    width: 95%;
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
