/* || Base styling for the layout */
/* Container */
#siteContentContainer {
  height: 100%;
}

/* Burger menu */
#burgerOpen {
  position: sticky;
  bottom: 6.5rem;
  margin-left: auto;
  margin-right: 40%;
  left: 0;
  right: 0;
  text-align: center;
  border: 2px solid #eb6700;
  width: 50%;
  list-style-type: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  z-index: 1;
}

#burgerOpen a {
  width: 80%;
  padding: 0.2rem;
  border: 1px solid #a32e00;
  margin: 0.2rem auto;
  border-radius: 1rem;
  background-color: #1e1e1e;
  color: #ffffff;
}

#burgerOpen a:hover {
  color: #eb6700;
}

#burgerOpen a:active {
  background-color: #ffffff;
}

#burgerClosed {
  display: none;
}

.burgerIsOpened {
  background-color: #ffffff;
  color: #1e1e1e;
  transition: 0.5s;
}

/* Log out button */
.logout button {
  background-color: #920000;
  border: 2px solid #920000;
}

.logout button:active {
  background-color: #1e1e1e;
}

.logout button:active span {
  color: #d60000;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  #siteContentContainer {
    margin-left: 9rem;
  }
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #siteContentContainer {
    margin-top: 7rem;
    margin-left: 0;
  }
}
