/* || Base styling for login and register forms */
/* Container */
#formsContainer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

/* Button */
#formsButton {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

#formsButton:hover {
  transform: scale(1.1) rotate(-360deg);
  transition: 0.5s;
  color: #eb6700;
  border: 1px solid #eb6700;
}

#formsButton:focus {
  transform: scale(1.1) rotate(-360deg);
  transition: 0.5s;
  color: #eb6700;
  border: 1px solid #eb6700;
}

/* Styling for the form */
#formsContentContainer {
  position: absolute;
  top: 30%;
  width: 100%;
  padding: 1rem;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 0 2rem #fff;
  box-shadow: 0 0 2rem #fff;
  border-radius: 1rem;
}

#formsContent {
  width: 90%;
}

/* Background image for the forms */
#formsBackground {
  background-image: url("../../../assets/repeatFormsBackground.png");
  width: 100%;
  height: 100%;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  #formsContentContainer {
    width: 65%;
    top: 1%;
    left: 17.5%;
    height: 94%;
    margin: auto 0;
  }
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #formsContainer {
    display: flex;
  }

  #formsContentContainer {
    position: unset;
    width: 50%;
    padding: 1rem;
  }

  #formsImage {
    width: 50%;
    height: 100%;
  }
}
