.placeMap {
  height: 180px;
}

.mapDataCollapsed {
  height: 0px;
  overflow: hidden;
  transition: height ease 0.9s;
}

.mapDataVisible,
.addressVisible {
  overflow: hidden;
  transition: height ease 0.9s;
  margin: 0 5%;
}

.mapDataVisible {
  height: 20rem;
}

.addressCollapsed {
  overflow: hidden;
  transition: height ease 0.9s;
}

.addressVisible {
  overflow: hidden;
  transition: height ease 0.9s;
  margin: 0 5%;
}

.collapseButtonActive,
.collapseButtonInactive {
  width: 100%;
  margin-bottom: 0.2rem;
}

.collapseButtonActive {
  border: 2px solid #1e1e1e;
  background-color: #eb6700;
  color: #1e1e1e;
  transition: 0.5ms;
}

.collapseButtonInactive {
  border: 2px solid #eb6700;
  background-color: #1e1e1e;
  color: #ffffff;
  transition: 0.5ms;
}

.collapseButtonActive span,
.collapseButtonInactive span {
  float: right;
}

#mapEditiorTitle {
  font-size: 1.5em;
  line-height: 1.1rem;
  text-align: center;
  color: #eb6700;
}

#privacyRadioContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  font-weight: 800;
}

#privacyRadioContainer input {
  height: 3rem;
  width: 3rem;
}

#scrollableContainer {
  overflow: scroll;
}

#mapEditorContainer {
  height: 100%;
}

#mapContainer {
  height: 65%;
}

#mapSidebar {
  background-color: #e4e4e4;
}

/* For tablets: */
@media only screen and (min-width: 768px) {
  #mapEditorContainer {
    display: grid;
    grid-template-columns: auto 15rem;
  }

  #mapContainer {
    height: 100%;
  }
}

/* For desktop: */
@media only screen and (min-width: 1024px) {
  #mapEditorContainer {
    grid-template-columns: auto 20rem;
  }
}

#addressListContainer {
  overflow: scroll;
}
