/* || Tooltip for password validity display */
.toolTip {
  position: relative;
  display: inline-block;
  width: 100%;
}

.toolTip .toolTipValues {
  visibility: hidden;
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 6px;
  position: absolute;
  width: 80%;
  bottom: 100%;
  left: 15%;
  margin-left: -60px;
}

.toolTip:hover .toolTipValues {
  visibility: visible;
}

.toolTip input:focus .toolTipValues {
  position: absolute;
  visibility: visible;
}

/* || Button to reaveal or hide password */
div #passwordReveal {
  cursor: pointer;
  color: #1e1e1e;
  background-color: #e4e4e4;
  padding: 0.5rem;
  border-radius: 50%;
  margin-left: 43%;
}

div #passwordRevealHidden {
  color: #e4e4e4;
  background-color: #1e1e1e;
  padding: 0.5rem;
  border-radius: 50%;
  margin-left: 43%;
}

/* || Colors for password correctness criteria */
.correctFieldValues {
  color: green;
}

.incorrectFieldValues {
  color: red;
}
