/* || Section for the choice between logging in and registering */
#registerAlternative {
  display: flex;
  align-items: center;
  text-align: center;
  color: rgb(167, 167, 167);
}

#registerAlternative::before,
#registerAlternative::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e4e4e4;
}

#registerAlternative:not(:empty)::before {
  margin-right: 0.5rem;
}

#registerAlternative:not(:empty)::after {
  margin-left: 0.5rem;
}

#registerButtonContainer {
  text-align: center;
  margin: 1rem 0;
}

#registerButtonContainer button {
  background-color: #ffffff;
  color: #eb6700;
  border-radius: 20px;
  border: 2px solid #eb6700;
}

#captchaContainer {
  display: flex;
  place-content: center;
}
