/* || Tag editor container values */
.tagEditor li {
  width: 50%;
  margin: 1rem auto;
}

.centeredTagEditorElement {
  text-align: center;
}

/* For tablets: */
@media only screen and (min-width: 1300px) {
  .specificDataTagList ul {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin-top: -1rem;
  }

  .specificDataTagList li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
  }
}
